/* body {
    width: 90%;
    height: 90%;
} */

#main {
    display: flex;
    justify-content: space-around;
}

#secondary {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.column {
    width: 5%;
}

.row {
    display: flex;
    justify-content: flex-end;
}

/* .down_one {
    margin-top: 5.2em;
}

.down_three {
    margin-top: 15.7em;
} */

.element {
    border: 1px solid black;
    margin: 2px;
    width: 100%;
    min-width: 100px;
    padding-top: 100%;
}

.element_header {
    font-size: .6em;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.element_body {
    text-align: center;
    position: relative;
}

.element_body>h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.element_body>h2 {
    font-size: .75em;
    transform: translateY(175%);
}

.light_blue{
    background-color: rgb(138, 205, 228)
}

.light_red {
    background-color: rgb(243, 136, 136)
}

.off_white {
    background-color: rgb(208, 205, 205);
}

.light_purple {
    background-color: rgb(209, 183, 209);
}

.lighter_purple {
    background-color: rgb(255, 233, 255)
}

.light_yellow {
    background-color: rgb(240, 240, 170)
}

.light_green {
    background-color: rgb(100, 202, 100)
}

.darker_blue {
    background-color: rgb(124, 124, 247)
}

.lighter_green {
    background-color: rgb(178, 252, 178);
}

.light_orange {
    background-color: rgb(236, 192, 110);
}