.element {
    border: 1px solid black;
    width: 5em;
    height: 5em;
}

.element_header {
    font-size: .6em;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.element_body {
    text-align: center;
    position: relative;
}

.element_body>h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.element_body>h2 {
    font-size: .75em;
    transform: translateY(175%);
}
