#container {
    max-width: 1700px;
    margin: auto;
}

#main {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 9;
    grid-gap: .3em;
}

#legend {
    grid-template-columns: 3;
    display: grid;
    grid-row: 1 / span 3;
    grid-column: 3 / span 10;
    margin: .3em;
    padding: .3em;
}

#legend-keys {
    grid-column: 1;

    font-size: 1.5em;
}

#legend-alkali {
    color: rgb(138, 205, 228)
}

#legend-alkaline-earth {
    color: rgb(243, 136, 136)
}

#legend-trans-metal {
    color: rgb(164, 181, 188);
}

#legend-pt-metal {
    color: rgb(209, 183, 209);
}

#legend-metalloid {
    color: rgb(240, 128, 171);
}

#legend-da-nonmetal {
    color: rgb(100, 202, 100)
}

#legend-noble-gas {
    color: rgb(124, 124, 247)
}

#legend-lanthanide {
    color: rgb(181, 244, 170);
}

#legend-actinide {
    color: rgb(236, 192, 110);
}

#legend-example {
    grid-column: 2 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#example-main {
    height: 100% !important;
    max-height: none !important;
    width: 70% !important;
    max-width: none !important;
}

.element-main {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 6vw;
    max-height: 5.5em;
    max-width: 5.5em;
}

.element-header {
    display: flex;
    justify-content: space-between;
    margin-left: .2em;
    margin-right: .2em;
    margin-top: -.8em;
    font-size: .75em;
}

.element-body>h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
}

.element-body>h2 {
    position: absolute;
    bottom: 0;
    margin: auto;
    margin-left: .2em;
    font-size: .75em;
}

.margin-top {
    margin-top: 1.5em;
}

@media screen and (max-width: 1465px) {
    #legend-keys {
        font-size: 1.68vw;
    }
    .element-body>h1 {
        font-size: 3.7vw;
    }

    .element-body>h2 {
        font-size: .75vw;
    }

    .element-header {
        font-size: .75vw;
    }
}

@media screen and (max-width: 900px) {

    .element-body>h2 {
        display: none
    }

    .element-header {
        display: none
    }
}


.alkali {
    background-color: rgb(138, 205, 228)
}

.alkaline-earth {
    background-color: rgb(243, 136, 136)
}

.trans-metal {
    background-color: rgb(164, 181, 188);
}

.pt-metal {
    background-color: rgb(209, 183, 209);
}

.metalloid {
    background-color: rgb(240, 128, 171)
}

.da-nonmetal {
    background-color: rgb(100, 202, 100)
}

.noble-gas {
    background-color: rgb(124, 124, 247)
}

.lanthanide {
    background-color: rgb(181, 244, 170);
}

.actinide {
    background-color: rgb(236, 192, 110);
}


.opaque {
    opacity: 10%;
}